In [1]:
import pandas as pd
import numpy as np

In [3]:
sleep_by_country = pd.read_json('../data/behavior_imported/sleep_by_country.json')
sleep_generations = pd.read_json('../data/behavior_imported/sleep_duration_generations.json')

In [4]:
sleep_by_country

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,lv,0.769621,27129.515454,2816.744465,-0.005407,0.309225,1003
1,lu,0.765851,26774.425121,3912.591644,-0.010913,0.298844,621
2,il,0.742154,26168.706647,2623.804883,0.013391,0.318712,2076
3,fr,0.778488,27612.784003,2827.369683,-0.003210,0.317186,41959
4,cn,0.736518,26167.543950,4026.571800,0.026708,0.329041,16075
...,...,...,...,...,...,...,...
57,id,0.740429,26285.913730,1966.433482,0.001915,0.307793,823
58,pl,0.762288,26810.269348,2419.948991,-0.004170,0.306565,5569
59,no,0.779785,27609.511148,2588.834455,-0.006855,0.312955,7804
60,jp,0.684503,24330.293768,3686.034307,0.006396,0.287743,99187
61,in,0.699959,24705.478410,1664.694727,0.004012,0.290270,1459

In [6]:
sleep_by_country['avg_duration'] = sleep_by_country['avg_duration']/3600
sleep_by_country

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,lv,0.769621,7.535977,2816.744465,-0.005407,0.309225,1003
1,lu,0.765851,7.437340,3912.591644,-0.010913,0.298844,621
2,il,0.742154,7.269085,2623.804883,0.013391,0.318712,2076
3,fr,0.778488,7.670218,2827.369683,-0.003210,0.317186,41959
4,cn,0.736518,7.268762,4026.571800,0.026708,0.329041,16075
...,...,...,...,...,...,...,...
57,id,0.740429,7.301643,1966.433482,0.001915,0.307793,823
58,pl,0.762288,7.447297,2419.948991,-0.004170,0.306565,5569
59,no,0.779785,7.669309,2588.834455,-0.006855,0.312955,7804
60,jp,0.684503,6.758415,3686.034307,0.006396,0.287743,99187
61,in,0.699959,6.862633,1664.694727,0.004012,0.290270,1459

In [7]:
sleep_by_country['avg_snore_duration'] = sleep_by_country['avg_snore_duration']/3600
sleep_by_country['avg_bedtime'] = sleep_by_country['avg_bedtime']*24
sleep_by_country['avg_wakeup'] = sleep_by_country['avg_wakeup']*24
sleep_by_country

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,lv,0.769621,7.535977,0.782429,-0.129769,7.421398,1003
1,lu,0.765851,7.437340,1.086831,-0.261910,7.172244,621
2,il,0.742154,7.269085,0.728835,0.321395,7.649084,2076
3,fr,0.778488,7.670218,0.785380,-0.077028,7.612475,41959
4,cn,0.736518,7.268762,1.118492,0.640987,7.896982,16075
...,...,...,...,...,...,...,...
57,id,0.740429,7.301643,0.546232,0.045968,7.387026,823
58,pl,0.762288,7.447297,0.672208,-0.100084,7.357558,5569
59,no,0.779785,7.669309,0.719121,-0.164514,7.510922,7804
60,jp,0.684503,6.758415,1.023898,0.153502,6.905824,99187
61,in,0.699959,6.862633,0.462415,0.096288,6.966473,1459

In [15]:
sleep_by_country = sleep_by_country.dropna()
sleep_by_country

,country,avg_sleep_quality,avg_duration,avg_snore_duration,avg_bedtime,avg_wakeup,group_size
0,lv,0.769621,7.535977,0.782429,-0.129769,7.421398,1003
1,lu,0.765851,7.437340,1.086831,-0.261910,7.172244,621
2,il,0.742154,7.269085,0.728835,0.321395,7.649084,2076
3,fr,0.778488,7.670218,0.785380,-0.077028,7.612475,41959
4,cn,0.736518,7.268762,1.118492,0.640987,7.896982,16075
...,...,...,...,...,...,...,...
57,id,0.740429,7.301643,0.546232,0.045968,7.387026,823
58,pl,0.762288,7.447297,0.672208,-0.100084,7.357558,5569
59,no,0.779785,7.669309,0.719121,-0.164514,7.510922,7804
60,jp,0.684503,6.758415,1.023898,0.153502,6.905824,99187
61,in,0.699959,6.862633,0.462415,0.096288,6.966473,1459

In [12]:
sleep_generations

  age_span  avg_duration  users_in_group
0     0-10      7.616667            6312
1    10-20      7.466667           41934
2    20-30      7.550000          214165
3    30-40      7.483333          221778
4    40-50      7.400000          173777
5    50-60      7.383333          157760
6    60-70      7.583333           75379
7    70-80      7.866667           23157
8    80-90      8.116667            3622
9   90-100      8.366667             235

In [ ]:
total_users = sleep_generations['users_in_group'].sum()
avg_duration = (sleep_generations['avg_duration']*sleep_generations['users_in_group']).sum() / total_users
avg_duration

7.486687165098787

In [16]:
sleep_generations['relative_duration'] = sleep_generations['avg_duration'] / avg_duration
sleep_generations

  age_span  avg_duration  users_in_group  relative_duration
0     0-10      7.616667            6312           1.017361
1    10-20      7.466667           41934           0.997326
2    20-30      7.550000          214165           1.008457
3    30-40      7.483333          221778           0.999552
4    40-50      7.400000          173777           0.988421
5    50-60      7.383333          157760           0.986195
6    60-70      7.583333           75379           1.012909
7    70-80      7.866667           23157           1.050754
8    80-90      8.116667            3622           1.084147
9   90-100      8.366667             235           1.117539

In [25]:
gen_rel_duration = pd.DataFrame()
gen_rel_duration['age_span'] = sleep_generations['age_span']
gen_rel_duration['relative_duration'] = sleep_generations['relative_duration']
gen_rel_duration['age_span'] = gen_rel_duration['age_span'].str.split('-').str[1].astype(int)
print(gen_rel_duration)

   age_span  relative_duration
0        10           1.017361
1        20           0.997326
2        30           1.008457
3        40           0.999552
4        50           0.988421
5        60           0.986195
6        70           1.012909
7        80           1.050754
8        90           1.084147
9       100           1.117539

In [29]:
sleep_country_important = sleep_by_country[['country', 'avg_duration', 'avg_bedtime', 'avg_wakeup']].copy()
sleep_country_important['country'].to_list()

['lv',
 'lu',
 'il',
 'fr',
 'cn',
 'sa',
 'co',
 'lt',
 'th',
 'cy',
 'hk',
 'au',
 'gr',
 'ec',
 'cr',
 'cl',
 'ma',
 'nl',
 'pt',
 'ru',
 'hu',
 'tr',
 'mx',
 'eg',
 'be',
 'ro',
 'dk',
 'kr',
 'se',
 'fi',
 'ua',
 'ar',
 'vn',
 'de',
 'br',
 'bg',
 'my',
 'ph',
 'gb',
 'ch',
 'it',
 'at',
 'sk',
 'ca',
 'ae',
 'tw',
 'pe',
 'nz',
 'hr',
 'ie',
 'za',
 'sg',
 'us',
 'es',
 'cz',
 'ee',
 'id',
 'pl',
 'no',
 'jp',
 'in']

In [31]:
country_to_iso3 = {
    'lv': 'LVA', 'lu': 'LUX', 'il': 'ISR', 'fr': 'FRA', 'cn': 'CHN', 
    'sa': 'SAU', 'co': 'COL', 'lt': 'LTU', 'th': 'THA', 'cy': 'CYP', 
    'hk': 'HKG', 'au': 'AUS', 'gr': 'GRC', 'ec': 'ECU', 'cr': 'CRI', 
    'cl': 'CHL', 'ma': 'MAR', 'nl': 'NLD', 'pt': 'PRT', 'ru': 'RUS', 
    'hu': 'HUN', 'tr': 'TUR', 'mx': 'MEX', 'eg': 'EGY', 'be': 'BEL', 
    'ro': 'ROU', 'dk': 'DNK', 'kr': 'KOR', 'se': 'SWE', 'fi': 'FIN', 
    'ua': 'UKR', 'ar': 'ARG', 'vn': 'VNM', 'de': 'DEU', 'br': 'BRA', 
    'bg': 'BGR', 'my': 'MYS', 'ph': 'PHL', 'gb': 'GBR', 'ch': 'CHE', 
    'it': 'ITA', 'at': 'AUT', 'sk': 'SVK', 'ca': 'CAN', 'ae': 'ARE', 
    'tw': 'TWN', 'pe': 'PER', 'nz': 'NZL', 'hr': 'HRV', 'ie': 'IRL', 
    'za': 'ZAF', 'sg': 'SGP', 'us': 'USA', 'es': 'ESP', 'cz': 'CZE', 
    'ee': 'EST', 'id': 'IDN', 'pl': 'POL', 'no': 'NOR', 'jp': 'JPN', 
    'in': 'IND'
}

sleep_country_important['country'] = sleep_country_important['country'].map(country_to_iso3)
sleep_country_important

   country  avg_duration  avg_bedtime  avg_wakeup
0      LVA      7.535977    -0.129769    7.421398
1      LUX      7.437340    -0.261910    7.172244
2      ISR      7.269085     0.321395    7.649084
3      FRA      7.670218    -0.077028    7.612475
4      CHN      7.268762     0.640987    7.896982
..     ...           ...          ...         ...
57     IDN      7.301643     0.045968    7.387026
58     POL      7.447297    -0.100084    7.357558
59     NOR      7.669309    -0.164514    7.510922
60     JPN      6.758415     0.153502    6.905824
61     IND      6.862633     0.096288    6.966473

[61 rows x 4 columns]

In [32]:
# Criar uma nova tabela para armazenar os resultados
sleep_hours_by_age_country = []

# Iterar sobre cada paÃ­s
for _, country_row in sleep_country_important.iterrows():
    country = country_row['country']
    avg_duration = country_row['avg_duration']
    avg_bedtime = country_row['avg_bedtime']
    avg_wakeup = country_row['avg_wakeup']
    
    # Calcular o nÃºmero de horas de sono por faixa etÃ¡ria
    for _, age_row in gen_rel_duration.iterrows():
        age_span = age_row['age_span']
        relative_duration = age_row['relative_duration']
        sleep_hours = avg_duration * relative_duration
        
        # Ajustar os horÃ¡rios de dormir e acordar com base na duraÃ§Ã£o relativa
        adjusted_bedtime = avg_bedtime - (avg_duration - sleep_hours) / 2
        adjusted_wakeup = avg_wakeup + (avg_duration - sleep_hours) / 2
        
        # Adicionar os resultados Ã  tabela
        sleep_hours_by_age_country.append({
            'country': country,
            'age_span': age_span,
            'sleep_hours': sleep_hours,
            'adjusted_bedtime': adjusted_bedtime,
            'adjusted_wakeup': adjusted_wakeup
        })

# Converter a lista de resultados em um DataFrame
sleep_hours_by_age_country = pd.DataFrame(sleep_hours_by_age_country)
sleep_hours_by_age_country

    country  age_span  sleep_hours  adjusted_bedtime  adjusted_wakeup
0       LVA      10.0     7.666812         -0.064352         7.355981
1       LVA      20.0     7.515824         -0.139846         7.431474
2       LVA      30.0     7.599706         -0.097905         7.389533
3       LVA      40.0     7.532601         -0.131457         7.423086
4       LVA      50.0     7.448719         -0.173398         7.465027
..      ...       ...          ...               ...              ...
605     IND      60.0     6.767894          0.048918         7.013843
606     IND      70.0     6.951223          0.140583         6.922178
607     IND      80.0     7.210939          0.270441         6.792320
608     IND      90.0     7.440100          0.385022         6.677740
609     IND     100.0     7.669262          0.499602         6.563159

[610 rows x 5 columns]

In [33]:
sleep_hours_by_age_country.to_csv('../data/behavior_generated/sleep_hours_by_age_country.csv', index=False)